<h1>Movies</h1>
<p>pick some movies from this list</p>


<%= simple_form_for [@group, @user_group, UserMovie.new ] do |f| %>
      <%= f.error_notification %>
      <%= f.association :movie, include_blank: false,label: false %>
      <%= f.submit "Submit my vote" %>
  <% end %>
