<div class="container">

  <div class="groups-container">
    <i class="fas fa-film"></i>
    <h2 class="sign-up-header">GROUPS</h2>
  </div>

  <p>Search for groups</p>


  <% if @groups.empty? %>
    <p class="">No groups</p>
  <% else %>
    <% @groups.each do |group| %>
      <%= link_to  new_group_user_group_path(group), class: "group-link" do %>
        <div class="card-group-infos">
          <p class="button-one"><%= group.name %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="previous">
    <%= link_to 'Back', pages_friends_path %>
  </div>
</div>
