<!-- DISPLAY GROUPS TO JOIN ONE PAGE -->
<!-- CSS file -> components/_index.css -->


  <!--<p>Search for groups</p>-->
  <div class="container">

  <div class="banner-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.livingmagazine.net/wp-content/uploads/Home-A-Night-In-at-the-Movies-1p_web1.jpg)">
    Join your group!
  </div>
  <% if @groups.empty? %>
    <p class="">No groups</p>
  <% else %>
    <% @groups.each do |group| %>
      <%= link_to group_path(group), class: "group-link" do %>
        <br>
        <div class="button-1">
        <%= group.name %>
        <br>
        <i class="fas fa-users"></i> <span><%= group.genre.name %>
        </span>

        </div>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'Back', pages_friends_path, class: "back-button-1", id: "back" %>
</div>
