<div class="container">
  <%= image_tag "results-img.png", class: "results-img"%>
  <% @results.each do |result| %>
    <div class="card-results">
      <img src="https://toppng.com/uploads/preview/hotography-png-film-iconpng-red-movie-reel-png-video-flat-icon-11563035522oovtrmv28c.png" />
      <div class="card-results-infos">
        <h1><%= result[0].title %></h1>
        <p>description</p>
      </div>
      <div class="percentage">
        <%= (result[1] * 100).round %>%
      </div>
    </div>
  <% end %>
</div>

<div class="back-to-groups-button">
  <%= link_to "Back to Groups", groups_path(@group), class: "button-first-vote-1", id: "back_to_groups" %>
</div>
