<div class="container">
  <img src="https://e7.pngegg.com/pngimages/479/1019/png-clipart-morpheus-neo-the-matrix-youtube-red-pill-and-blue-pill-morpheus-pills-microphone-meme.png" class="resuls-img" alt="">
  <% @results.each do |result| %>
    <div class="card-results">
      <img src="https://toppng.com/uploads/preview/hotography-png-film-iconpng-red-movie-reel-png-video-flat-icon-11563035522oovtrmv28c.png" />
      <div class="card-results-infos">
        <h1><%= result[0].title %></h1>
        <p>description</p>
      </div>
      <div class="percentage">
        <%= (result[1] * 100).round %>%
      </div>
    </div>
  <% end %>
</div>

<div class="voted-button">
  <a class="button" id="get_started" href="/groups">Back to Groups</a>
</div>
