<!-- JOIN GROUP OR CREATE GROUP PAGE -->
<!-- CSS file -> components/_friends.scss -->

<div class="create-join-group">

  <div class="first-container">
  <h2 id="join-create">LET'S GO!</h2>
    <img class="img-genre"src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/movie-night-ideas-1608824743.jpg?crop=1.00xw:0.752xh;0,0.209xh&resize=1200:*" />
  </div>

  <% if @groups.empty? %>
    <button type="button" class="btn btn-lg btn-primary" disabled>Join group</button>
  <% else %>
    <%= link_to "Join group", groups_path, class: "button", id: "join-group" %>
  <% end %>

  <%= link_to "Create group", new_group_path, class: "button", id: "create-group" %>
</div>
