<!-- JOIN GROUP OR CREATE GROUP PAGE -->
<!-- CSS file -> components/_friends.scss -->

<body>
  <div class="bannerfriends" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.shortlist.com/media/imager/202110/53346-posts.article_lg.jpg);">
    <div class="containerfriends">
      <h1>Let's go!</h1>
      <br>
      <div class="create-join-group">
        <% if @groups.empty? %>
          <!--<button type="button" class="btn btn-lg btn-primary" disabled>Join group</button>-->
        <% else %>
          <%= link_to "Join group", groups_path, class: "button-first-vote-1", id: "join-group" %>
        <% end %>
        <%= link_to "Create group", new_group_path, class: "button-first-vote-1", id: "create-group" %>
      </div>
    </div>
  </div>
</body>
