<!-- WELCOME TO MOVIE_FINDER/(GET STARTED) PAGE(HOMEPAGE) -->
<!-- CSS file -> components/_home.scss -->


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/00/59/43/46/1000_F_59434607_heFSOwfHJjrrhfxKC0xWu7Ro06PXtFhQ.jpg);">
  <div class="container text-center">
    <h1>Welcome to <br> <strong>MOVIE FINDER</strong></h1>
    <p></p>
    <%= link_to "Get started", "/pages/friends", class:"button-1" %>
  </div>
</div>
