<!-- WELCOME TO MOVIE_FINDER/(GET STARTED) PAGE(HOMEPAGE) -->
<!-- CSS file -> components/_home.scss -->


<div class="first-container" id="first_page">
  <%#= image_tag("front_page_mf.png") %>
  <div id="front-text" >
    <h2 id="first-text"><span id="welcome">WELCOME TO</span> <br> <span id="movie_finder">MOVIE FINDER<span></h2>
    <%= link_to "Get starte3d", "/pages/friends", class:"button", id: "get_started" %>
  </div>
</div>
