<!-- WELCOME TO MOVIE_FINDER/(GET STARTED) PAGE(HOMEPAGE) -->
<!-- CSS file -> components/_home.scss -->

<div class="banner-22" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/00/59/43/46/1000_F_59434607_heFSOwfHJjrrhfxKC0xWu7Ro06PXtFhQ.jpg);">
  <div class="container">
<div class="first-container" >
  <%#= image_tag("front_page_mf.png") %>
  <div id="front-text" >
    <h2 id="first-text"><span id="welcome">WELCOME TO</span> <br> <span id="movie_finder">MOVIE FINDER<span></h2>
    <br>
    <%= link_to "Get started", "/pages/friends", class:"button-first-vote-1" %>
   </div>
  </div>
  </div>
</div>
