<!-- WELCOME TO MOVIE_FINDER/(GET STARTED) PAGE(HOMEPAGE) -->
<!-- CSS file -> components/_home.scss -->

<div class="first-container">
<h2><span id="welcome">WELCOME TO</span> <br> <span id="movie_finder">MOVIE FINDER<span></h2>
    <img class="img-genre"src="http://odessareview.com/wp-content/uploads/2016/10/movie-night.jpg" />
  <%= link_to "Get started", "/pages/friends", class:"button", id: "get_started" %>
</div>
