.card-product {
  overflow: hidden;
  height: 120px;
  background: #3e3e3e;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;

}

.card-product .card-product-infos {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-product-extra {
margin-right: 10px;
text-align: center;
}

.card-product-extra-percentage {
  background: linear-gradient(180deg, #ED213A 0%, #93291E 100%);
  color: #ffffff;
  margin-top: 45px;
  border-radius: 0.5rem;
}
