.card-results {
  overflow: hidden;
  height: 120px;
  background: #950101;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  color: white;
  justify-content: space-between;
}

.card-results img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.card-results-infos h1 p {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.percentage {
  display: flex;
  padding: 10px;
  font-size: 30px;
  background:#FF0000;
  justify-content: flex-end;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;
}
