.card-product {
  overflow: hidden;
  height: 135px;
  background: #3e3e3e;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 30px;

}

.card-product-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-content: center;
  height: 120px;
}

.card-product-extra {
margin-right: 10px;
text-align: center;
}

.card-product-extra-percentage {
  background: linear-gradient(180deg, #ED213A 0%, #93291E 100%);
  color: #ffffff;
  margin-top: 15px;
  border-radius: 0.5rem;
}


.selection {
  flex-grow: 1;
}
