// HTML file -> pages/friends.html.erb

div.create-join-group {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.first-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 80px auto;
}
i.fas {
  font-size: 90px;
  color: #5E5E5E;
  text-shadow: -2px 3px px #EEEEEE;
  margin: 0 auto;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 0.9cm;
}

// Buttons Styling
.button {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  border-radius: 7px;
  background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
  opacity: 1;
}

.button-group-1 {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  border-radius: 7px;
  background: #3D0000;
  opacity: 1;
  display: block;
  width: 150px;
  padding: 3px 5px;
  margin: 10px auto 25px;
}

.back-button-1 {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  border-radius: 7px;
  background: #3D0000;
  opacity: 1;
  display: block;
  width: 150px;
  padding: 3px 5px;
  margin: 10px 10px 25px;
}

#join-group, #create-group {
  display: block;
  width: 150px;
  padding: 3px 5px;
  margin: 10px auto 25px;
}

#join-group:hover, #create-group:hover, #join-group:active, #create-group:active {
  text-decoration: none;
  color: white;
  box-shadow:
    -1px -1px 9px #EEEEEE,
    -1px 1px 9px #EEEEEE,
    1px -1px 9px #EEEEEE,
    1px 1px 9px #EEEEEE;
}

.button-first {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  border-radius: 7px;
  background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
  opacity: 1;
  width: 170px;
  padding: 7px 20px;
  margin: 10px auto;
  margin-top: 20px;
}

.button-first a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.button-first-vote-1 {
  font-size: 23px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
  background: #3D0000;
  width: 170px;
  padding: 7px 20px;
}

.bannerfriends {
  background-size: cover;
  background-position: center;
  padding: 60% 0;
  height: 100vh;
}

.bannerfriends h1 {
  font-family: Roboto ;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(96, 92, 92, 0.8);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.body-background {
  background-color: #000000;
  color: white;
}

.bannerfriends h1 {
  font-size: 40px;
}
