// HTML file -> views/groups/show.html.erb



.group-info {
  width: 100%;
  margin: 0 auto;
}
.group-info {
  margin-top: 80px;
}
ul {
  list-style-type: none;
  padding: 5px;
}

// CARD STYLING

.group-card {
  overflow: hidden;
  width: 80%;
  height: auto;
  background: rgba(83, 105, 118, 1);
  border: 1px 1px 1px black;
  box-shadow: 0 0 10px black;
  padding: 15px 10px 25px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  padding: 10% 0;
}

.group-card-1 {
  overflow: hidden;
  width: 80%;
  height: auto;
  background: rgba(99, 108, 113, 0.36);
  border: 1px 1px 1px black;
  opacity: 0.8;
  box-shadow: 0 0 14px black;
  margin: 0 auto;
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  padding: 10% 0;
  text-align: center;
}

.group-card-7 {
  overflow: hidden;
  width: 80%;
  height: auto;
  background: rgba(99, 108, 113, 0.36);
  border: 1px 1px 1px black;
  opacity: 0.8;
  box-shadow: 0 0 14px black;
  margin: 0 auto;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  padding: 10% 0;
  text-align: center;
}

.group-card-2 {
  overflow: hidden;
  width: 80%;
  height: auto;
  border: 1px 1px 1px black;
  opacity: 0.8;
  box-shadow: 0 0 14px black;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  padding: 10% 0;
}

.group-card-3 {
  overflow: hidden;
  width: 80%;
  height: auto;
  border: 1px 1px 1px black;
  box-shadow: 0 0 14px black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 0 10%;
}

.group-card-6 {
  overflow: hidden;
  width: 80%;
  height: auto;
  border: 1px 1px 1px black;
  box-shadow: 0 0 14px black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 10% 0;
}

.group-card-4 {
  overflow: hidden;
  width: 80%;
  height: auto;
  background: #3D0000;
  border: 1px 1px 1px black;
  opacity: 0.8;
  box-shadow: 0 0 14px black;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  padding: 10% 0;
}
.img-genre {
  width: 90%;
  margin: 10px auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
}

.group-card-infos {
  color: white;
  margin: 0 auto;
}

.group-card-infos p {
  text-shadow: 1px 1px 4px black;
}
.fas.fa-theater-masks, .fas.fa-user-edit, .fas.fa-users, .fas.fa-signature, {
  font-size: 20px;
  color: white;
  text-shadow: none;
  z-index: 20;
}

.group-card-infos p b {
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-top: 7px;
}

div.movie_night_begin {
  text-align: center;
}
p#movie_night_begin {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

.select_movie {
  width: 80%;
  margin: 0 auto;
}
#select_movie {
  display: block;
  width: 100%;
  padding: 3px 5px;
  box-shadow:
    -1px -1px 5px #EEEEEE,
    -1px 1px 5px #EEEEEE,
    1px -1px 5px #EEEEEE,
    1px 1px 5px #EEEEEE;
}
#select_movie:hover, #select_movie:active {
  text-decoration: none;
  color: white;
  box-shadow:
    -1px -1px 9px #EEEEEE,
    -1px 1px 9px #EEEEEE,
    1px -1px 9px #EEEEEE,
    1px 1px 9px #EEEEEE;
}

.member {
  text-align: center;
}

.voted-button {
  text-align: center;
}

#groups-name {
  font-size: 19px;
}

.banner-22 {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  .container{
    position: relative;
    top: 0;
    margin-bottom: 10px;
  }
}

.banner-22 h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-22 p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
