// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "login";
@import "sign_up";
@import "friends";

.groups-container {
  margin: 20px 30px 30px;
  text-align: center;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 4px 6px black;
 // letter-spacing: 10px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px;
  min-height: 80vh;
  text-align: center;
}
.button {
  font-size: 16px;
  width: 170px;
  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  border: solid 2px #EEEEEE;
  border-radius: 7px;
  background: linear-gradient(111deg, rgba(195,20,50,1) 1%, rgb(0, 0, 0) 100%);
  margin: 10px auto;
  opacity: 0.7;
  text-decoration: none;
}
p.button:hover {
  text-decoration: none;
  opacity: 1;
}
p {
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
.previous a {
  color: white;
}
.previous a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}
