// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "login";
@import "sign_up";
@import "friends";
@import 'group-show';
@import 'movies-list';
@import 'cards';

// HTML file -> views/groups/new.html.erb
body {
  position:relative;
}
div.groups {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  min-height: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

i.fas {
  font-size: 90px;
  color: #5E5E5E;
  text-shadow: -2px 3px 5px #EEEEEE;
}

h2#grp {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 0.9cm;
}
input#query {
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  border: solid 2px #536976;
  height: 28px;
}

// Buttons Styling

#group-name, #back {
  text-decoration: none;
  display: block;
  width: 100px;
  padding: 3px 5px;
  // margin: 10px auto 25px;
  /* box-shadow:
    -1px -1px 5px #EEEEEE,
    -1px 1px 5px #EEEEEE,
    1px -1px 5px #EEEEEE,
    1px 1px 5px #EEEEEE; */
}
#group-name:hover, #back:hover, #sign_up_btn:active, #login_btn:active {
  text-decoration: none;
  color: white;
  box-shadow:
    -1px -1px 9px #EEEEEE,
    -1px 1px 9px #EEEEEE,
    1px -1px 9px #EEEEEE,
    1px 1px 9px #EEEEEE;
}
#group-name {
  width: 150px;
}
#back {

}

// movies/index.html.erb

.group-info-container {

}

.movie_choice_input {
  position: absolute;
  transform: scale(0);
}
.movie_choice_input + label {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  border-radius: 50rem;
  padding: 0.2rem 0.6rem;
  background-color: rgba(187, 210, 197, 1);
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 2px 4px black;
  //border: 1px solid black;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}
.movie_choice_input:checked + label {
  background-color: rgba(187, 210, 197, 0.5);
  text-shadow: 1px 1px 2px black;
}

.list {
  text-shadow: 1px 1px 4px black;
}

.choices {
  font-size: 14px Roboto, sans-serif;
}

.banner-22 {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
