@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(111deg, rgba(195,20,50,1) 1%, rgba(0,0,0,1) 100%);
  height: 100vh;
}
div.login {
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px;
  min-height: 80vh;
  position: relative;
}

.login-container {
  margin: 20px 30px 30px;
  text-align: center;
}
i.fas {
  font-size: 90px;
  color: #5E5E5E;
  text-shadow: 1px 1px 1px black;
  margin: 0 auto;
}
.login-header {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.form-inputs {
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.form-control {
  border-radius: 10px;
  border: solid 3px #5E5E5E;
  height: 30px;
}
.form-actions {
  background-color: none;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;

}
.form-check-label {
  color: #5E5E5E;
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
}
.btn.continue {
  width: 90px;
  color: white;
  margin:0;
  padding: 3px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  border: solid 2px #EEEEEE;
  border-radius: 9px;
  background: linear-gradient(111deg, rgba(195,20,50,1) 1%, rgb(0, 0, 0) 100%);
  position: absolute;
  right: -15px;
  top: 80px;
  opacity: 0.7;
}
.btn.continue:hover {
  opacity: 1;
  border: solid 2px white;
}
.back {
  width: 90px;
  text-align: center;
  color: white;
  margin:0;
  padding: 3px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  border: solid 2px #EEEEEE;
  border-radius: 9px;
  background: linear-gradient(111deg, rgba(195,20,50,1) 1%, rgba(0,0,0,1) 100%);
  position: absolute;
  left: -15px;
  top: 80px;
  opacity: 0.7;
}
a.back:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
//.password, .email{
//}
label.optional:not(.form-check-label)  {
  margin-top: 15px;
  margin-bottom: 5px;
}

.form-check {
  margin-top: 15px;
}

div.form-group {
  margin: 0 auto;
}
// dropdown menu does not display in login_view
.navbar-toggler {

}
