.navbar-lewagon {
  justify-content: space-between;
  position: relative;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

//.navbar-lewagon .navbar-brand img {
//  width: 40px;
//}

#logo {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 55px;
  top: 17px;
}

// style for left-side logo
#logo .fas.logo {
  font-size: 30px;
  position: fixed;
  left: 13px;
  color: #5E5E5E;
  text-shadow: -2px 2px 3px #EEEEEE;
}
#logo p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-top: 2px;
  font-weight: 900;
  color: black;
  text-shadow:
    -2px -2px 4px white,
    -2px 2px 4px white,


}

// style for avatar
.avatar-dropdown {
  width: 35px;
  height: auto;
  position: fixed;
  top: 16px;
  right: 13px;
}

// style for dropdown-menu

.navbar-nav.mr-auto {
  position: absolute;
  top: 55px;
  right: 13px;
  z-index: 1000;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  background-color: #536976;
  border-radius: 9px;
  box-shadow: 1px 1px 1px black;
  min-width: 140px;
  text-align: center;
}

.navbar-nav .dropdown-menu {
    /* position: static; */
    float: none;
}
.dropdown-item {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color:#EEEEEE;
  padding: 2px 10px;
  //text-shadow: 1px 1px black;
  font-weight: normal;
}

#username {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color:#EEEEEE;
  padding: 2px 10px;
  //text-shadow: 1px 1px black;
  font-weight: normal;
}

.dropdown-item:hover {
  background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
  font-size: 15px;
  text-shadow: 2px 2px 2px black;
  color: white;
}

@media only screen and (max-width: 300px) {
  .avatar-dropdown {
    visibility: visible;
  }
  .navbar-toggler, .navbar-toggler {
    visibility: visible;
  }
  .dropdown-item:hover {
    background-color: #BBD2C5;
    font-size: 14px;
    text-shadow: none;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
  }
}
