.navbar-lewagon {
  justify-content: space-between;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

//.navbar-lewagon .navbar-brand img {
//  width: 40px;
//}

#logo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#logo .fas.logo {
  font-size: 30px;

}
#logo p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-top: 5px;
  color: black;
  font-weight: 900;
  text-shadow:  0px 2px 2px grey;
  position: fixed;
  left: 55px;
}
.fas.menu {
  position: fixed;
  right: 13px;
  top: 17px;
  font-size: 27px;
}
.fas.fa-bars.menu:active {
  color: white;
}

span.navbar-toggler-icon {
  position: fixed;
  right: 13px;
  font-size: 25px;
  top: 14px;

}
/* .mr-auto {
  width: 30%;
  background-color: #8E8E8E;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 14px;
  border: solid 2px #5E5E5E;
  border-radius: 8px;

  text-shadow: 1px 2px 2px black;
  text-align: center;
}   */

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link {
  color: #8E8E8E;
  font-size: 16px;
  font-weight: bold;

}

.my-nav-link {
  color: white !important;
  padding: 0;
}
