// HTML page -> views/devise/registrations/new.html.erb
// HTML page -> views/groups/new.html.erb

div.sign_up {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.first-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 80px auto;
}

i.fas {
  font-size: 90px;
  color: #5E5E5E;
  text-shadow: -2px 3px 5px #EEEEEE;
}

h2#sign_up {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 0.9cm;
}

// Button Styling - General
.button, [type="submit"]:not(:disabled) {
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  border-radius: 7px;
  background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
  opacity: 1;
 // height: 35px;
}

// Button Styling - Specific
.form-actions {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

#sign_up_btn, #login_btn, [type="submit"]:not(:disabled) {
  display: block;
  width: 100px;
  padding: 3px 5px;
  box-shadow:
    -1px -1px 5px #EEEEEE,
    -1px 1px 5px #EEEEEE,
    1px -1px 5px #EEEEEE,
    1px 1px 5px #EEEEEE;
}

#sign_up_btn:hover, #login_btn:hover, #sign_up_btn:active, #login_btn:active, [type="submit"]:not(:disabled):hover, [type="submit"]:not(:disabled):active {
  text-decoration: none;
  color: white;
  box-shadow:
    -1px -1px 9px #EEEEEE,
    -1px 1px 9px #EEEEEE,
    1px -1px 9px #EEEEEE,
    1px 1px 9px #EEEEEE;
}

a#login_btn.button {
  height: 32px;
  margin-top: 23px;
}
input#sign_up_btn.button:hover {
  height: 32px;
  margin-top: 23px;
}
// Styling for both pages

form#new_user {
  width: 80%;
  margin: 0 auto;
}

.form-inputs {
  width: 100%;
  font-weight: normal;
}
.form-control {
  border-radius: 8px;
  border: solid 2px #536976;
}
.form-control:active, .form-control:hover {
  border-radius: 8px;
  border: solid 3px #536976;
  box-shadow:
    -1px -1px 4px white,
    1px 1px 4px white;
  //height: 28px;
}
.form-actions {
  display: flex;
  background-color: none;
  width: 100%;
}
label.required {
  margin: 0px;
  padding: 3px 0;
}
.form-group {
  margin: 0;
}

// Styling for groups/new.html.erb
[type="submit"]:not(:disabled) {
  cursor: pointer;
  width: 140px;
  margin: 0 auto;
  margin-top: 25px;
}
