// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background: #000000;
  // background: linear-gradient(115deg, #3d0000, #950101);
  background-repeat: no-repeat ;
  background-size: cover ;
}

.button-first-vote-1 {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    //font-weight: bold;
    text-shadow: 2px 2px 1px black;
    background: #3D0000;
    width: 170px;
    padding: 7px 20px;
}
