// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: #ffffff;
  background: #000000;
}

.button-1 {
  border-radius: 0.5rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  /* White */
  text-shadow: none;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(180deg, #ED213A 0%, #93291E 100%);
  padding: 5% 30%;
}

.back-button-1 {
    border-radius: 0.5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-shadow: none;
    color: #FFFFFF;
    background: linear-gradient(
180deg, #ED213A 0%, #93291E 100%);
    font-family: 'Roboto', sans-serif;
    padding: 3% 8%;
    margin-left: 16px;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}

h2 {

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

h3{
  font-family: Bebas;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
}
